* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  --ck-z-default: 100;
  --ck-z-modal: calc(var(--ck-z-default) + 999);
}

.tnr {
  font-family: 'Times New Roman', Times, serif;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.grey {
  color: #8a8c90;
}

.none {
  text-decoration: none !important;
  color: black;
}

#none {
  color: black;
}

.about p {
  margin-bottom: 1em !important;
}

.center {
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap !important;
}

input,
select,
textarea,
button,
label {
  outline: none !important;
  box-shadow: none !important;
}

input:focus,
select:focus,
textarea:focus,
.ck-content:focus {
  border: 2px solid #ee4622 !important;
  background-color: rgb(250, 250, 250) !important;
}

.form-control,
#password {
  background-color: rgb(240, 240, 240);
  border: 2px solid #bcbcbc;
  color: #333333 !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #bcbcbc;
}

.ck.ck-editor__editable_inline > :first-child {
  margin-top: 0 !important;
}

.ck-content {
  padding: 6px 12px !important;
  border-radius: 4px !important;
  border: 2px solid #bcbcbc !important;
  background-color: rgb(240, 240, 240) !important;
}

.ck-focused {
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(235, 235, 235) inset !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px rgb(250, 250, 250) inset !important;
}

.input-group-text {
  border-radius: 0 4px 4px 0 !important;
  border-left: none !important;
}

select {
  padding: 6px 8px !important;
}

.change-action {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* nav */

nav {
  display: flex;
  background-color: white;
  width: 100%;
  height: 120px;
  align-items: center;
  position: absolute;
  padding-left: 78px;
  z-index: 1;
}

.nav-item {
  display: flex;
  z-index: 100;
  color: black;
}

/* landing */

.landing {
  display: flex;
  align-items: center;
  height: 100vh;
}

.landing-image {
  position: absolute;
  width: auto;
  height: 100vh;
  right: 0;
  z-index: 9;
}

.landing .lib-container {
  width: 650px;
  margin-left: 78px;
}

.landing h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 110px;
  line-height: 82.49%;
}

.landing-text {
  margin-top: 66px;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 30px;
}

/* Button */

.btn {
  padding: 7px 15px;
}

.btn.lg {
  padding: 10px 75px;
}

.btn.sq {
  padding: 5px;
}

.primary,
.btn-primary {
  background-color: #ee4622 !important;
  border: 1px solid #ee4622 !important;
  color: white !important;
}

.primary:hover,
.btn-primary:hover {
  background-color: white !important;
  border: 1px solid #ee4622 !important;
  color: #ee4622 !important;
}

.primary:active,
.btn-primary:active {
  background-color: #ee4622 !important;
  border: 1px solid #ee4622 !important;
  color: white !important;
}

.light,
.btn-light {
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
}

.light:hover {
  background-color: #fff;
  border: 1px solid black;
}

.light:active {
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
}

/* login and register modal */

.rounded .modal-dialog {
  width: 400px;
}

.rounded .modal-content {
  border-radius: 20px;
}

.rounded .modal-body {
  padding: 35px;
  border-radius: 40px;
}

.sign {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.account {
  text-align: center;
}

.here {
  font-weight: bold;
  cursor: pointer;
}

.here:hover,
.here:active {
  color: #ee4622;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Home */
.home {
  padding: 40px 70px 40px 20px;
  height: 100vh;
}

/* Sidebar */

.sidebar-container {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  z-index: 1;
}

.ava {
  display: block;
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
  border: 3px solid white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 20px;
  z-index: 8;
}

.name {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 700;
}

.navigation {
  padding: 17px 30px;
  border-radius: 60px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.navigation:hover,
.active {
  background-color: #ee4622;
  color: white;
}

.navigation.logout:hover,
.logout.active {
  background-color: #ee2222;
  color: white;
}

.icon {
  margin-right: 20px;
}

/* List Book */

.jumbotron {
  width: 100%;
  height: 445px;
  background-color: #e6f2fd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 30px 80px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-between;
}

/* Book */

.book {
  border-radius: 10px;
  cursor: pointer;
}

.book img {
  border-radius: 10px;
  transition: 0.5s;
}

.book:hover img {
  /* transform: scale(1.05) translateY(-5px); */
  opacity: 0.8;
  /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); */
}

.book-action {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.247) !important;
  /* border: 1px solid rgba(0, 0, 0, 0.247) !important; */
  border: none !important;
  z-index: 9;
  cursor: pointer;
  padding: 0 !important;
}

.book-action:hover {
  background-color: rgba(0, 0, 0, 0.726) !important;
}

/* Dropdown */
#dropdown {
  padding: 7px 10px;
  float: right;
}

.dropdown-toggle::before,
.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  min-width: 50px !important;
}

a.dropdown-item:hover {
  background-color: rgba(238, 71, 34, 0.1);
  color: black;
}

/* Detail */

.detail-container p {
  margin-bottom: 5px;
}

.detail {
  margin: 20px 0;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 25px;
}

.dh {
  font-size: 24px;
}

.dd {
  font-size: 18px;
}

/* Reader */

.reader-container {
  padding-top: 120px;
  height: 100vh;
}

.reader-container.fullscreen {
  padding-top: 0;
  height: 100vh;
}

.reader-action {
  position: absolute;
  right: 0px;
  z-index: 100;
  padding: 7px;
}

.reader-btn {
  padding: 5px;
  display: inline-block;
}

/* Profile */

.data-container {
  width: 100%;
  background-color: #fdede6;
  padding: 50px;
  border-radius: 10px;
}

.datas {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
}

.data p {
  margin: 0;
  line-height: 1.5em;
  font-size: 14px;
}

/* Admin */
.admin {
  padding: 150px 70px 100px 70px;
}

.admin-wrapper {
  height: 100vh;
}

/* Dashboard */

.admin .col {
  /* border: 1px solid #af2e1c; */
  background-color: #292929;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: 3px;
  padding: 15px;
  text-align: center;
  display: grid;
  align-content: center;
  height: 150px;
}

.admin .row:nth-child(even) .col {
  height: 50px;
  /* background-color: #ee4622; */
}

.admin h3,
.admin h4,
.admin p {
  margin: 0;
}

.admin h3 {
  font-size: 20px;
  font-weight: bold;
}

.admin h4 {
  font-size: 16px;
}

.dashboard p {
  font-size: 36px;
}

.col.approved {
  color: green;
}

/* Verify */
th,
td {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

th {
  text-align: center;
}

th,
tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

td:nth-child(odd),
td:last-child,
td:nth-child(4) {
  text-align: center;
}

td:first-child {
  width: 3%;
}

td:nth-child(2) {
  width: 30%;
}

td:nth-last-child(2) {
  width: 10%;
}

td:last-child {
  width: 20%;
}

.approve,
.cancel,
.reset {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  width: 100px;
  padding: 5px 0;
}

.approve {
  background-color: #0acf83;
}

.cancel {
  background-color: #ff0742;
}

.text-approved,
.text-cancel,
.text-warning {
  font-weight: 500;
}

.text-approved {
  color: #0acf83 !important;
}

.text-cancel {
  color: #ff0742 !important;
}

.preview .modal-dialog {
  /* width: 100%; */
}

.preview .modal-content {
  border-radius: 5px !important;
  height: 80vh;
  /* width: 80vh !important; */
}

/* popover */

.popover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.popover-body {
  padding: 0;
}

.pop-item {
  display: flex;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.pop-item p {
  margin: 0;
}

.pop-item:hover {
  background-color: #eeeeee;
}

/* Modal */

#addSuccess {
  width: 750px;
}

.prompt .modal-content {
  padding: 15px !important;
}

.prompt .modal-footer {
  border-top: none !important;
}

.edit .modal-content {
  padding: 5px !important;
}

.edit .action-button {
  float: right;
}
